import styles from './styles.module.scss'
import React from 'react'

import { {{pascalCase name}}Props } from './{{camelCase name}}'

const {{pascalCase name}} = ({ }: {{pascalCase name}}Props) => (
  <div data-component-{{dashCase name}}>
    <h1>{{dashCase name}}</h1>
  </div>
)

export default {{pascalCase name}}
